body {
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;
}

h1,
h2,
p {
    margin: 0;
}

.leftBackgroundColor,
.rightBackgroundColor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 44px);
    height: calc(100% - 88px);
    position: absolute;
    color: white
}

.leftBackgroundColor {
    padding: 44px 0 44px 44px;
    left: 0;
    background-color: #fa404d;
}

.leftBackgroundColor h1,
.leftBackgroundColor p {
    font-size: 44px;
    margin-bottom: 4px;
}

.leftBackgroundColor span {
    display: block;
    font-size: 18.5px;
}

.leftBackgroundColor a {
    text-decoration: none;
    color: white;
}

.rightBackgroundColor {
    padding: 44px 44px 44px 0;
    right: 0;
    background-color: white;
    text-align: right;
}

.rightBackgroundColor p {
    color: #b3abab;
}

.rightBackgroundColor span {
    color: black;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 488px;
    width: 368px;
    position: absolute;
    top: calc(50% - 44px);
    left: calc(50% - 44px);
    transform: translate(calc(-50% + 44px), calc(-50% + 44px));
    padding: 32px;
    background-color: white;
    border-radius: 24px;
}

.signUpForm::before {
    content: '';
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    -webkit-box-shadow: 10px 5px 10px 0px rgba(220, 220, 220, 1);
    -moz-box-shadow: 10px 5px 10px 0px rgba(220, 220, 220, 1);
    box-shadow: 10px 5px 10px 0px rgba(220, 220, 220, 1);
    z-index: -1;
}

.signUpForm h2 {
    color: #b3abab;
    margin-bottom: 44px;
}

.signUpForm h2::before {
    content: '';
    height: 2px;
    width: 32px;
    position: absolute;
    left: calc(50% - 44px);
    transform: translate(calc(-50% + 44px), 40px);
    border-bottom: 2px solid #fa404d;
}

.signUpForm .textField {
    width: 100%;
    max-width: 320px;
    position: relative;
}

.signUpForm .textField input {
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    height: 54px;
    font-size: 16px;
    border-bottom: 2px solid #dcdbdb;
    margin-bottom: 32px;
}

.signUpForm .textField input:hover,
.signUpForm .textField input:focus {
    border-bottom: 2px solid #b3abab;
}

.signUpForm .textField input:hover {
    background-color: #f8f7f7;
}

.signUpForm .textField input:focus {
    background-color: #facfd2;
}

.signUpForm .textField input::placeholder {
    color: #b3abab;
}

.signUpForm .textField i {
    position: absolute;
    top: 27px;
    right: 0;
    transform: translateY(-50%);
    color: #b3abab;
}

.signUpForm button {
    height: 54px;
    border: none;
    font-size: 16px;
    background-color: #fa404d;
    margin: 32px 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(250, 207, 210, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(250, 207, 210, 1);
    box-shadow: 5px 5px 5px 0px rgba(250, 207, 210, 1);
}

.signUpForm button:hover {
    background-color: #ff4f5b;
}

.signUpForm button:active {
    background-color: #f77c83;
}

.signUpForm p {
    color: #b3abab;
}

.signUpForm p a {
    text-decoration: none;
    color: #fa404d;
    font-weight: bold;
}

.navbar {
    display: none;
}

.text {
    display: none;
}

.footer {
    display: none;
}

@media screen and (max-width: 1200px) {

    .leftBackgroundColor,
    .rightBackgroundColor {
        width: calc(50% - 24px);
        height: calc(100% - 48px);
    }

    .leftBackgroundColor {
        padding: 24px 0 24px 24px;
    }

    .leftBackgroundColor h1,
    .leftBackgroundColor p {
        max-width: 270px;
        font-size: 32px;
    }

    .leftBackgroundColor span {
        font-size: 16px;
    }

    .rightBackgroundColor {
        padding: 24px 24px 24px 0;
    }

    .signUpForm {
        padding: 20px;

    }
}

@media screen and (max-width: 990px) {

    .leftBackgroundColor,
    .rightBackgroundColor {
        display: none;
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        height: 54px;
        width: calc(100% - 32px);
        padding: 4px 16px;
        background-color: #fa404d;
        color: white;
        -webkit-box-shadow: 0 5px 5px 0px rgba(250, 207, 210, 1);
        -moz-box-shadow: 0 5px 5px 0px rgba(250, 207, 210, 1);
        box-shadow: 0 5px 5px 0px rgba(250, 207, 210, 1);
    }

    .navbar a {
        text-decoration: none;
        color: white;
    }

    .navbar p {
        font-size: 24px;
        text-align: center;
    }

    .navbar .iconMenu {
        text-align: right;
    }

    .text {
        display: block;
        color: #b3abab;
        margin: 20% auto 24px;
        padding: 12px 24px;
        text-align: center;
    }

    .text h1 {
        font-size: 24px;
        margin-bottom: 4px;
    }

    .text h1::before {
        content: '';
        height: 2px;
        width: 80%;
        max-width: 320px;
        position: absolute;
        left: calc(50% - 44px);
        transform: translate(calc(-50% + 44px), 54px);
        border-bottom: 2px solid #fa404d;
    }

    .text span {
        display: block;
        font-size: 16px;
    }

    .signUpForm {
        align-items: center;
        height: calc(100vh - 108px);
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        transform: none;
        padding: 0;
        border-radius: 0;
    }

    .signUpForm::before {
        display: none;
    }

    .signUpForm h2 {
        margin-bottom: 24px;
    }

    .signUpForm .textField input {
        margin-bottom: 8px;
    }

    .signUpForm button {
        width: 80%;
        max-width: 320px;
        margin: 24px 0 16px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: calc(100% - 32px);
        padding: 4px 16px;
        background-color: #dcdbdb;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 640px) {
    .text {
        margin: 24px auto;
    }
}